body {
  margin: 10px;
  padding:55px;
  background: black;
  font-family:inherit;
  font-size: 19px;
  color: white;
}
header {
  margin: -65px -65px 10px -65px;
  padding: -10px -10px 10px -10px;
  height: 60px;
  background:gray;
}
#red {
  width: 190px;
  height: 300px;
  margin-left: 250px;
}
#foton{
  width: 220px;
  height: 300px;
  margin-left: 250px;
}
.header_element {
  width:33%;
  color: #ebeff3;
  text-decoration: none;
  padding: 18px 0px;
  text-align: center;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  float:left;
  border: 1px solid white;
}
h1 {
  text-align: left;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
}
h2 {
  font-family:Arial, Helvetica, sans-serif;
}
#foto {
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
}
figcaption {
  text-align: justify;
}
#sesiones {
  text-align: left;
}
#resumen {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
}

.gradient_border {
  width:100px;
  border-left: 7px solid #07033a;
  border-image: linear-gradient(#95f3f7, #250168) 30;
  margin:0;
  padding:0;
  position:absolute;
  left:77px;
  z-index: -1;
}
.first_border {
  top:270px;
  height:100px;
}
.second_border {
  top:518px;
  height:61px;
}
ul {
list-style-type: none;
padding: 0;
margin: 0;
}
#informacion {
  text-align: left;

}
#logo_contacto{
  margin-left: 550px;
  width: 200px;
  height: 200px;
}
#postu {
  width: 220px;
  height: 300px;
  margin-left: 250px;
}
#textosesiones{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
}
#avion {
  width: 220px;
  height: 300px;
  margin-left: 250px;
}